@extends('layouts.master')

@section('contentPage')

<div class="card shadow-lg p-3 mb-5">
    <!-- Card header -->
    <div class="card-header">
        <h3 class="mb-0">Zamknij swoje konto</h3>
        <p class="mb-0">Zamknięcie konta wiąże się z utratą dostępu do funckjonalności.</p>
    </div>
    <!-- Card body -->
    <div class="card-body p-4">
        <span class="text-danger h4">Ostrzeżenie</span>
        <p>
            Wszelakie dane zostaną zachowane, a administrator w każdej chwili może przywrócić twoje konto.
        </p>
        <form action="{{ route('deleteAccount') }}" method="post" enctype="multipart/form-data">
            <!-- X-XSRF-TOKEN -->
            @csrf
            @method('PUT')
            <button type="submit" class="btn btn-outline-danger btn">Zamknij moje konto</button>
        </form>
    </div>
</div>

{{-- <div class="card mb-3 mt-3 shadow-lg p-3 mb-5 bg-white rounded " >
    <div class="alert alert-warning" role="alert">
        Uwaga zmiana danych łączy się z utratą dostępu do serwisu do czasu weryfikacji przez administratora
    </div>

    <div class="row g-0 ">
        <div class="col-md-8">
            <div class="card-body">
                <form action="{{ route('changePassword') }}" method="post" enctype="multipart/form-data">
                    <!-- X-XSRF-TOKEN -->
                    @csrf
                    @method('PUT')
                    </div>
                    <button type="submit" class="btn btn-primary">Zapisz dane</button>
                </form>
            </div>
        </div>
    </div>
</div> --}}
@endsection
