{% extends("base.html.twig") %}

{% block content %}

	<div
		class="card shadow-lg p-3 mb-5">
		<!-- Card header -->
		<div class="card-header">
			<h3 class="mb-0">Zamknij swoje konto</h3>
			<p class="mb-0">Zamknięcie konta wiąże się z utratą dostępu do funckjonalności.</p>
		</div>
		<!-- Card body -->
		<div class="card-body p-4">
			<span class="text h5">Ostrzeżenie</span>
			<p>
				Wszelakie dane zostaną zachowane, a administrator w każdej chwili może przywrócić twoje konto.
			</p>

			<a href="{{ path('me_delete_account') }}" class="btn btn-outline-danger btn">
				Usuń konto
			</a>
		</div>
	</div>

	
{% endblock %}
